h1 {
    color: white;
    text-align: center;
    background-color: #040404;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #040404;
}

body {
    background-color: #111;
    color: white;
}

li {
  float: left;
}

li a {
  background-color: #040404;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #121212;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #333;
}

.active {
    background-color: #ffff00;
    border: 0px solid #ffff00;
    color: #111;
  }

.active:hover {
  color:white;
}

.banner {
    height: 70px;
    overflow: hidden;
}


.input {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 3px;
}
#right {
    float: right;
}

.foot {
  position: fixed;
  width: 100%;
  color:white;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 1rem;
}

.tile {
  display: inline-block;
  background-color: rgb(37, 37, 37);
  width: 200px;
  height: 370px;
  border-radius: 20px;
  border: 2px solid #CCC;
  position: relative;
  overflow: hidden;
  margin: 4px;
}

.results {
  position: relative;
}

.img_cont {
  text-align: center;
}

#movietitle {
  text-align: center;
  height: 25px;
  font-weight: bold;
}

#movieyear {
  text-align: center;
}
#poster {
  width: auto;
  height: 300px;
}
#topper {
  height:80px;
  overflow: hidden;
}